<input #autocompleteInput type="text" placeholder="Enter title" aria-label="Number" matInput [formControl]="searchInput"
    [matAutocomplete]="auto">
<mat-autocomplete #auto="matAutocomplete">
    <mat-option *ngFor="let option of autoCompleteList" [value]="option">
        {{ option.name }}
    </mat-option>
</mat-autocomplete>