<div class="menu-container">
<nav class="navbar navbar-expand-md navbar-dark bg-dark mb-4">
    <app-header></app-header> 
    
    <div class="collapse navbar-collapse" id="navbarCollapse" [ngStyle]= "{'min-width':'500px !important', 'float' : 'left'}">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" [routerLink]="['/product-list','all']">All Medicines <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item" *ngFor="let category of categories">
          <a class="nav-link" [routerLink]="['/product-list', category.id]">{{ category.name  }}</a>
        </li>
      </ul>      
    </div>
    <app-search-bar></app-search-bar>
    <div class="user-bar" *ngIf="isUserLoggedIn">Hi {{ userName }}</div>
    <div *ngIf="!isUserLoggedIn"><a [routerLink]="['/login']" class="btn btn-outline-warning my-2 my-sm-0">
      Sign In</a></div> 
      <div *ngIf="isUserLoggedIn"><a (click)="logout()" class="btn btn-outline-success my-2 my-sm-0" style="color: white;">
        Sign Out</a></div>   
      <div>      
        <a [routerLink]="['/cart']"><img width="40" alt="checkout" src="assets/cart.png" /></a>      
        <span class='badge badge-warning' id='lblCartCount'> {{ cartCount }} </span>
      </div>
  </nav>   
</div>
  <style type="text/css">
    .menu-container {
        width: 100%;
    }
  </style>